/* Main Header
###########################################################################  */

.main-header__content {
  position: sticky;
  top: 0;
  padding: var(--m);
}

/* Usable Indicator
###########################################################################  */

.usable-indicator {
  display: flex;
  align-items: center;
  padding: var(--xs);
  border-top: solid var(--border-width-m) var(--darken);
  border-bottom: solid var(--border-width-m) var(--darken);
  line-height: var(--lh-tight);
}

/* Example
###########################################################################  */

.example {
  margin-bottom: var(--xxl);
}

/* Teaser
###########################################################################  */
.teaser {
  margin-bottom: var(--l);
  font-size: var(--l);
}

.teaser cite {
  display: block;
  font-size: var(--m);
  text-align: right;
}

/* Additional Content
###########################################################################  */
.additional-content > *:not(.additional-content-handle) {
  display: none;
}

.additional-content[data-additional-content="is-visible"] > *:not(.additional-content-handle) {
  display: block;
}

.additional-content[data-additional-content="is-visible"] > .additional-content-handle::after {
  content: "visibility_off";
}

.additional-content-handle {
  padding-bottom: var(--m);
  opacity: var(--op-light);
  transition: opacity var(--tr-fast);
}

.additional-content-handle::after {
  content: "visibility";
}

.additional-content-handle:hover {
  cursor: pointer;
  opacity: 1;
}
