/* Main Header
###########################################################################  */

.main-header__content {
  position: sticky;
  top: 0;
  padding: var(--m);
}

/* Usable Indicator
###########################################################################  */

.usable-indicator {
  display: flex;
  align-items: center;
  padding: var(--xs);
  border-top: solid var(--border-width-m) var(--darken);
  border-bottom: solid var(--border-width-m) var(--darken);
  line-height: var(--lh-tight);
}

/* Example
###########################################################################  */

.example {
  margin-bottom: var(--xxl);
}

/* Teaser
###########################################################################  */
.teaser {
  margin-bottom: var(--l);
  font-size: var(--l);
}

.teaser cite {
  display: block;
  font-size: var(--m);
  text-align: right;
}
