.example-subgrid .grid-container {
  display: grid;
  gap: var(--m);
  grid-template-columns: repeat(4, 1fr);
}

.example-subgrid .grid-container h3 {
  padding-top: 0;
  margin-bottom: var(--xs);
  color: var(--color-decoration);
  line-height: 110%;
  opacity: var(--op-medium);
}

.example-subgrid .grid-container h4 {
  line-height: 130%;
}

.grid-element {
  display: grid;
  background-color: var(--darken);
  gap: var(--m);
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: subgrid;
}

.grid-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.grid-element figcaption {
  padding: var(--m) var(--m) var(--l) 0;
}
