:root {
  accent-color: var(--color-accent);
}

.example-accent-color .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.example-accent-color fieldset {
  padding: 0;
  border: none;
}
